<h1 class="display-4">upmCertificados</h1>
<p class="lead">En esta plataforma podr치s obtener los certificados que acreditan la finalizaci칩n de tus cursos en la UPM.</p>

<p class="fs-1">Inicia sesion y consulta tus cursos</p>

<p class="fs-1">Descarga un certificado de finalizaci칩n.</p>

<br></br>

<a class="btn btn-primary" href="/auth" role="button">Inicar sesi칩n con Keyrock</a>
<!-- <a class="btn btn-primary" href="/authJWT" role="button">Log in with Keyrock Account and JWT</a>-->