<h3>Verifica la credencial</h3>

<p>Introduce el código de la credencial del curso</p>

<form action="/verify" method="post">
    <div class="col-md-6 mb-3">
        <input class="form-control" type="text" placeholder="Código">
    </div>
    <button class="btn btn-outline-primary" type="submit">Comprobar</button>
</form>